<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Channel Name: " value="Sushi1">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="App Code: " value="Sushi2">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Org: " value="Sushi3">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Sp Name" value="Sushi4">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Header Value: " value="Sushi5">
    </mat-form-field>
</form>