<div class="choose-service">  

  
  <!-- <p>
      Choose the Service you want to config: 
  </p> -->
  <!-- <p>
    <input type="radio" name="service" (click)="onChoose('DRS')" value="DRS" checked>Document Retrieval Service
    <input type="radio" name="service" (click)="onChoose('DPS')" value="DPS">Document Preference Service
  </p> -->
  <!-- <button type="submit" (click)="onSubmit()"class="choice">Submit</button> -->

  <mat-card class="example-card">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header> -->
      <img mat-card-image src="https://www.rbcroyalbank.com/mortgages/_assets-custom/images/rbc-og.jpg" alt="Logo of RBC">
      <mat-card-content>
        <p>
            Choose the Service you want to config: 
        </p>
        <mat-radio-group  class="example-radio-group" >
            <mat-radio-button class="example-radio-button" name="service" (click)="onChoose('DRS')" value="DRS" checked>
              Document Retrieval Service
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" name="service" (click)="onChoose('DPS')" value="DPS">
              Document Preference Service
            </mat-radio-button>
        </mat-radio-group>  
      </mat-card-content>
      <mat-card-actions>
          <div class="example-button-row">
              <button mat-raised-button type="submit" (click)="onSubmit()" class="choice">Submit</button>
          </div>
      </mat-card-actions>
    </mat-card>

</div>
